body {margin:0px;height:100%;overflow-y:hidden;overflow-x:hidden;}
.CodeMirror { line-height: 1.6;}
.mymark {background:yellow;}
.important {border-bottom :2px dotted red }
.milestone {border-radius:10px;background :lightblue ;padding-top:8px;padding-bottom:8px;}

.title {border-bottom:3px solid blue}
.title2 {font-weight:bold}
.title3 {background:lightblue;}

.intertext   {border-bottom:2px solid gray;}
.intertext2   {border-bottom:2px dotted gray;}


.quote   {border-bottom:2px solid gray;}
.quoteby {border-bottom:2px dotted gray;}
.transclusion {color:green;cursor:pointer;}
.highlight {background:lightgreen;}
.editingMarker  {background:pink;}

.causeeffect {border-bottom:2px solid red;}
.causeeffect2 {border-bottom:2px dotted red;}
.causeeffect.editingMarker:after {content:"因";}
.causeeffect2.editingMarker:after {content:"果";}