body {margin:0px;height:100%;overflow-y:hidden;overflow-x:hidden}
button {cursor:pointer;}
.darktheme {background:gray;}

.CodeMirror { line-height: 1.6;}
.cm-s-ambiance.CodeMirror { line-height: 1.6em;}


.closebutton { cursor:pointer}
.closebutton:hover {background:#AF4040;color:white}
.rangehyperlink:hover {text-decoration: underline}

.mymark {background:yellow;}
.important {border-bottom :2px dotted red }
.milestone {border-radius:10px;background :lightblue ;color:black;padding-top:8px;padding-bottom:8px;}
a:visited {color:darkblue;}
.title {border-bottom:3px solid blue}
.title2 {font-weight:bold}
.title3 {background:lightblue;}

.intertext   {border-bottom:2px solid gray;}
.intertext2   {border-bottom:2px dotted gray;}


.quote   {border-bottom:2px dotted gray;}
.transclusion {color:#3366FF;cursor:pointer;}
.highlight {background:#3366FF;}
.editingMarker  {background:#A80000 ;color:yellow;cursor:pointer;}

.causeeffect {border-bottom:2px solid red;}
.causeeffect2 {border-bottom:2px dotted red;}
.causeeffect.editingMarker:after {font-size:50%;content:"因";vertical-align:text-top}
.causeeffect2.editingMarker:after {font-size:50%;content:"果";vertical-align:text-top}

.signifier {border-bottom:2px solid purple;}
.signifier2 {border-bottom:2px dotted purple;}
.signifier.editingMarker:after {font-size:50%;content:"能";vertical-align:text-top}
.signifier2.editingMarker:after {font-size:50%;content:"所";vertical-align:text-top}

.extsignifier {border-bottom:2px solid purple;}
.extsignifier2 {border-bottom:2px dotted purple;}
.extsignifier.editingMarker:after {font-size:50%;content:"能";vertical-align:text-top}
.extsignifier2.editingMarker:after {font-size:50%;content:"所";vertical-align:text-top}


.part {border-bottom:2px solid yellow;}
.part2 {border-bottom:2px dotted yellow;}


.synonym {border-bottom:2px solid blue;}
.synonym2 {border-bottom:2px dotted blue;}
.synonym.editingMarker:after {font-size:50%;content:"本";vertical-align:text-top}
.synonym2.editingMarker:after {font-size:50%;content:"另";vertical-align:text-top}

.definition {border-bottom:2px solid green;}
.definition2 {border-bottom:2px dotted green;}
.definition.editingMarker:after {font-size:50%;content:"名";vertical-align:text-top}
.definition2.editingMarker:after {font-size:50%;content:"義";vertical-align:text-top}

.extdefinition {border-bottom:2px solid lightgreen;}
.extdefinition2 {border-bottom:2px dotted lightgreen;}
.extdefinition.editingMarker:after {font-size:50%;content:"名";vertical-align:text-top}
.extdefinition2.editingMarker:after {font-size:50%;content:"義";vertical-align:text-top}

.explaination {border-bottom:2px solid orange;}
.explaination2 {border-bottom:2px dotted orange;}
.explaination.editingMarker:after {font-size:50%;content:"名";vertical-align:text-top}
.explaination2.editingMarker:after {font-size:50%;content:"說明";vertical-align:text-top}

.individual {border-bottom:2px solid brown;}
.individual2 {border-bottom:2px dotted brown;}
.individual.editingMarker:after {font-size:50%;content:"總";vertical-align:text-top}
.individual2.editingMarker:after {font-size:50%;content:"別";vertical-align:text-top}

